---
import { ViewTransitions } from 'astro:transitions';
import type { CollectionEntry } from 'astro:content';
import Analytics from '@vercel/analytics/astro';
import GlobalStyles from '../styles/GlobalStyles.astro';

interface Props {
	title: string;
	description: string;
  essay?: CollectionEntry<'essays'>;
  imageUrl?: string;
}

const { title, description, essay } = Astro.props;

const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
const postImageUrl = essay != null ? `${Astro.url}${essay.slug}-og.png` : "";
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="author" content="jaaack" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url ?? canonicalUrl} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
{essay != null && (
  <meta property="og:image" content={postImageUrl} />
)}

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url ?? canonicalUrl} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
{essay != null && (
  <meta property="twitter:image" content={postImageUrl} />
)}

<!-- Canonical URL -->
<link rel="canonical" href={canonicalUrl} />

<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"  />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"  />
<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="shortcut icon" href="/apple-touch-icon.png">

<!-- JSON-LD -->
{essay != null && (
  <script
    type="application/ld+json"
    set:html={JSON.stringify({
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage": {
        "@id": Astro.url,
        "name": null,
      },
      "url": Astro.url,
      "headline": title,
      "description": description,
      "author": {
        "@type": "Person",
        "name": "jaaack",
        "url": null,
      },
      "datePublished": essay.data.publishedDate.toISOString().substring(0, 10),
    })}
  />
)}

<!-- Site Map -->
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- RSS -->
<link
  rel="alternate"
  type="application/rss+xml"
  title="jaaack.dev"
  href={`${Astro.site}rss.xml`}
/>

<!-- Transitions -->
<ViewTransitions />

<!-- Preload Fonts -->
<link
  rel="preload"
  as="font"
  type="font/woff2"
  crossorigin=""
  href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff2-subset/Pretendard-Regular.subset.woff2"
/>
<link
  rel="preload"
  as="font"
  type="font/woff2"
  crossorigin=""
  href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff2-subset/Pretendard-Bold.subset.woff2"
/>

<!-- Theme -->
<script is:inline>
  function init() {
    const isDark = localStorage.getItem("theme") !== 'light'
      || window.matchMedia("(prefers-color-scheme: light)").matches;

    if (isDark) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
  }

  init();
  document.addEventListener("astro:after-swap", init);
</script>

<!-- Vercel Analytics -->
<Analytics />

<!-- Global Styles -->
<GlobalStyles />